body{
    background: #BDBDBD;
}

/*Styles for the tagline Template*/
body{
    background: #BDBDBD;
}

.tagline {
    width: 100%;
    height: 80vh;
    color: #313131;
    background: url(./../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    text-align: center;
}

.tagline__title {
    font-size: 140px;
    line-height: 190px;
    font-weight: 600;
    background-color: #fcfcfcc4;
}

.tagline__subtitle {
    font-size: 80px;
    font-weight: 600;
    background-color: #fcfcfcc4;
}