<!-- your html code here -->

<div class="container">
    <div class="row" style="background-color: white; width: 1200px; height: 500px;">
        <div class="col-10" style="margin: auto; width: 1200px;">
            <h3><strong>Contact</strong></h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus quisquam quam inventore ut cum, libero perspiciatis dicta tempore ratione neque! Minima error totam voluptatum saepe.</p>
        </div>

        <div class="container-form" style="margin: auto; width: 1000px; height: 400px; background-color: red;  ">
            <form > 
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3">
                  </div>
                </div>
                <div class="row mb-10">
                  <label for="inputPassword3" class="col-lg-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3">
                  </div>
                <div class="button" style="float: right;">
                   <button type="submit" class="btn btn-primary">Submit</button> 
                </div>
                
              </form>
        </div>

  
            


    </div>
  </div>
<p>Hello, I'm contact.html</p>