<div class="contactform" style="background-color: white; padding: 20px;">
    <H1>Contact</H1>
    <p style="font-family: sans-serif; text-size-adjust: auto; margin-left: 15px;">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Aliquam eget pharetra eros. Sed hendrerit elit augue, id lacinia urna accumsan in. Nam sit amet tellus erat.
        Suspendisse egestas.</p>
    <form>
        <div style="background-color: ivory;">
            <div class="mb-3" style="display: flex; width: 800px; height: auto;">
                <label for="exampleInputEmail1" class="form-label">Your E-mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your E-mail Here">
            </div>
            <div class="mb-3" style="display: flex; width: 800px; height:auto;">
                <label for="Your Message" class="form-label">Your Message</label>
                <textarea class="form-control" id="Your Message" rows="3" placeholder="Your Message here"></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-sm-end">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>