<!-- your html code here -->

<!-- your html code here -->

<div class="container">
    <div class="row" style="background-color: white; width: 1200px; height: 500px; ;">
        <div class="col-10" style="margin: auto; width: 1200px;">
            <h3><strong>Contact</strong></h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus quisquam quam inventore ut cum, libero perspiciatis dicta tempore ratione neque! Minima error totam voluptatum saepe.</p>
        </div>

        <div class="container" style="margin: auto; padding-top: 20px ; width: 900px; height: 300px; text-align: center; ">
            <form > 
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">
                    <strong>Your Email</strong> 
                  </label> 
                    <div class="form">
                      <input class="form-control" placeholder="Your Email..." id="floatingEmailarea2" style="width: 700px; height: 40px"></input>
                      <label for="floatingTextarea2"></label>
                    </div>
                </div>
                <div class="row mb-3">
                  <label for="inputText3" class="col-sm-2 col-form-label">
                    <strong>Your Message</strong>
                  </label>
                  <div class="form">
                    <textarea class="form-control" placeholder="Please enter your message here..." id="floatingTextarea2" style="width: 700px; height: 100px"></textarea>
                    <label for="floatingTextarea2"></label>
                  </div>
                  <div class="container d-grid gap-2 d-md-flex justify-content-md-end" style="margin-right: 40px;">
                    <input class="btn btn-primary" type="submit" value="Submit">
                  </div>


                
  
              </form>
        </div>

  
            


    </div>
  </div>
