<!-- your html code here -->
<div class="container-fluid bg-white m-0">
  <div class="row p-0">
    <div class="col-9">
      <h2>This Heading Will Catch Your Eye</h2>
      <p>Yjo do  doagu aog ayou sopve a prhoble liske...?<br>Roh dyo yxxu d oa gcakhch a cflouyd ajd pinj ij owtjn?<br>Qnw gdjoao yvb fitnyd f wrtred
        hyhat afdomeans ...?</p>
    </div>
    <div class="col-3">
      <img class="rounded-circle" style="width: 200px; height: 200px; "src="https://upload.wikimedia.org/wikipedia/commons/4/41/Sunflower_from_Silesia2.jpg" alt="...pic...">
    </div>
  </div>
</div>
<!--npx http-server --yes -c-1-->