<!-- your html code here -->
<div class="container">
  <div class="row">
    <div class="col-9">
      <h2>This Heading Will Catch Your Eye</h2>
      <p>How do you solve a problem like Maria?<br>How do you catch a cloud and pin it down?<br>How do you find a word
        that means Maria?</p>
    </div>
    <div class="col-3">
      <img class="rounded-circle" style="width: 200px; height: 200px; " src="https://upload.wikimedia.org/wikipedia/commons/4/41/Sunflower_from_Silesia2.jpg" alt="...pic...">
    </div>
  </div>
</div>