<!-- your html code here -->
<div class="row bg-white">
    <div class="col p-5">
        <h2>The First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget venenatis ipsum. Etiam dapibus pulvinar
            velit et fringilla.consectetur adipiscing elit. Duis eget venenatis ipsum. Etiam dapibus pulvinar
            velit et fringilla.</p>
    </div>
    <div class="col p-2">
        <img src="../website1/assets/img/1.jpg" class="rounded-circle" alt="Responsive image" width="70%">
    </div>
</div>