<!-- your html code here -->
<div class="row p-5 bg-white">
    <div>

        <h3>Portfolio</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget venenatis ipsum. Etiam dapibus pulvinar
            velit
            et fringilla. Nunc pulvinar rhoncus quam non dictum. In hac habitasse platea dictumst.</p>
    </div>
    <div class="card-deck">
        <div class="card border-white">
            <img class="card-img-top" src="https://bit.ly/3ghzWOK" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-primary">Project One</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card border-white">
            <img class="card-img-top" src="https://bit.ly/3ghzWOK" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Two</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card border-white">
            <img class="card-img-top" src="https://bit.ly/3ghzWOK" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Three</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>
</div>