<!-- your html code here -->


<div class="container">
    <div class="row" style="background-color: white; width: 1200px; height: 500px;">  
        
        
        <div class="col-10" style="margin: auto; width: 1200px;">
            <h3><strong>Portfolio</strong></h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus quisquam quam inventore ut cum, libero perspiciatis dicta tempore ratione neque! Minima error totam voluptatum saepe.</p>
          </div>
        <div class="row" style="margin: auto;">
            <div class="col">
                <div class="card" style="width: 20rem; border: none;">
                    <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Project Name</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem; border: none;">
                    <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Project Name</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem; border: none;">
                    <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Project Name</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>