<!-- your html code here -->
<div class="row bg-white">
    <div class="col-d-flex">
        <img src="../website1/assets/img/2.jpg" class="rounded-circle" alt="Responsive image" width="50%">
        <div>

            <h2>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget venenatis ipsum. Etiam dapibus
                pulvinar
                velit et fringilla.consectetur adipiscing elit. Duis eget venenatis ipsum. Etiam dapibus pulvinar
                velit et fringilla.</p>
        </div>
    </div>
</div>