<!-- your html code here -->

<div class="container" >
    <div class="row" style="width: 1200px; height: 500px; position: relative;">
            <img src="assets/img/bg.jpg" class="img-fluid" alt="...">
                <div class="row-1" style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); background-color: white; font-size: 100px; width: 1200px; text-align: center;">
                    <strong>One Page Wonder</strong>
                </div>
                <div class="row-2" style="position: absolute; top: 55%; left: 50%; transform: translate(-50%, -50%); background-color: white; font-size: 50px; width: 1200px; text-align: center;">
                    <strong>Will Knock Your Socks Off</strong>
                </div>
        
    </div>
</div>
