
<!-- your html code here 
<div class="row">
    <div style="background-image: url(../website1/assets/img/bg.jpg)">
        <h1 class="display-1  bg-white position-absolute" style="background-image: url(../website1/assets/img/bg.jpg)">One Page Wonder</h1>
    </div>
</div>

<div class="row ">
    <h1 class="display-1  bg-white position-absolute">One Page Wonder</h1>
</div>

-->

<div class="row">
    <div class="card bg-dark text-dark">
        <img class="card-img" src="../website1/assets/img/bg.jpg" alt="Card image">
        <div class="card-img-overlay">
            <h1 class="bg-white display-1 text-center font-weight-normal mt-5">One Page Wonder</h1>
            <h4 class="bg-white display-4 text-center font-weight-normal mt-4">Will Knock Your Socks Off</h4>
        </div>
    </div>
</div>

